{% extends 'base.html' %} {% block content %}
<div
  class="card text-center position-absolute top-50 start-50 translate-middle text-bg-dark"
  style="width: 50em"
>
  <div class="card-header fs-2">What would you like to add?</div>
  <ul class="list-group list-group-flush fs-4">
    <li class="list-group-item py-3">
      <a
        href="{% url 'add_employee' %}"
        class="link-dark text-decoration-none link-opacity-50-hover"
        >New Employee</a
      >
    </li>
    <li class="list-group-item py-3">
      <a
        href="{% url 'add_department' %}"
        class="link-dark text-decoration-none link-opacity-50-hover"
        >New Department</a
      >
    </li>
    <li class="list-group-item py-3">
      <a
        href="{% url 'add_role' %}"
        class="link-dark text-decoration-none link-opacity-50-hover"
        >New Role</a
      >
    </li>
  </ul>
</div>
{% endblock %}
