{% extends 'base.html' %} {% block content %}
<div class="text-center">    
    {% if department %}
    <h1>view budget for {{department}}</h1>
    {% endif %}
    {% load my_filters %}
    <h2>The total annual salary for {{department}} is {{total | currency}}</h2>
    <h3>The individual cost for each role in {{department}} is:</h3>
    {% if roles %}
    {% for role in roles %}
 
  
    {% endfor %}
    {% endif %}

    {% for position, data in roles.items %}
    <h3>{{position}}s with {{data.count}} a total cost of {{data.total_salary}} </h3>
    {% endfor %}

</div>
{% endblock %}
