{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<h1 class="display-1 text-center text-white">What would you like to do?</h1>
<div class="d-flex align-items-center justify-content-center flex-column text-white bg-transparent me-5 h-75">
  <ul class="list-group container text-center me-5">
    <li class="list-group-item fs-2 bg-transparent border-0">
      <div class="row">
        <p class="col text-white">
          Employee
        </p>
        <div class="btn-group col me-5" role="group">
          <a href="{% url 'view_employees' %}" type="button" class="btn btn-dark fs-2 mx-2">View</a>
          <a href="{% url 'add_employee' %}" type="button" class="btn btn-dark fs-2 mx-2">Add</a>
        </div>
      </div>
    </li>
    <li class="list-group-item fs-2 bg-transparent border-0">
      <div class="row">
        <p class="col text-white">
          Role
        </p>
        <div class="btn-group col me-5" role="group">
          <a href="{% url 'view_roles' %}" type="button" class="btn btn-primary fs-2 mx-2">View</a>
          <a href="{% url 'add_role' %}" type="button" class="btn btn-primary fs-2 mx-2">Add</a>
        </div>
      </div>
    </li>
    <li class="list-group-item fs-2 bg-transparent border-0">
      <div class="row">
        <p class="col text-white">
          Department
        </p>
        <div class="btn-group col me-5" role="group">
          <a href="{% url 'view_departments' %}" type="button" class="btn btn-primary fs-2 mx-2">View</a>
          <a href="{% url 'add_department' %}" type="button" class="btn btn-primary fs-2 mx-2">Add</a>
        </div>
      </div>
    </li>
  </ul>

  <!-- <ul class="list-group container text-center">
    <li class="list-group-item fs-2 bg-transparent border-0">
      <div class="row">
        <p class="col-6 text-white">
          Employee
        </p>
        <div class="btn-group col-3 mx-auto" role="group">
          <a href="{% url 'view_employees' %}" type="button" class="btn btn-dark fs-2 mx-2">View</a>
          <a href="{% url 'add_employee' %}" type="button" class="btn btn-dark fs-2 mx-2">Add</a>
        </div>
      </div>
    </li>
    <li class="list-group-item fs-2 bg-transparent border-0">
      <div class="row">
        <p class="col-6 text-white">
          Role
        </p>
        <div class="btn-group col-3 mx-auto" role="group">
          <a href="{% url 'view_roles' %}" type="button" class="btn btn-primary fs-2 mx-2">View</a>
          <a href="{% url 'add_role' %}" type="button" class="btn btn-primary fs-2 mx-2">Add</a>
        </div>
      </div>
    </li>
    <li class="list-group-item fs-2 bg-transparent border-0">
      <div class="row">
        <p class="col-6 text-white">
          Department
        </p>
        <div class="btn-group col-3 mx-auto" role="group">
          <a href="{% url 'view_departments' %}" type="button" class="btn btn-primary fs-2 mx-2">View</a>
          <a href="{% url 'add_department' %}" type="button" class="btn btn-primary fs-2 mx-2">Add</a>
        </div>
      </div>
    </li>
  </ul> -->

  <!-- <div class="dropdown show" id="viewDropdown">
      <a class="btn btn-secondary" id="viewDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <p class="display-3">View &nbsp; <i class="fas fa-caret-down"></i></p>
      </a>
  
      <div class="dropdown-menu fixed-top" aria-labelledby="viewDropdownLink">
        <a class="dropdown-item" href="#">View Action 1</a>
        <a class="dropdown-item" href="#">View Action 2</a>
        <a class="dropdown-item" href="#">View Action 3</a>
      </div>
    </div>
  
    <div class="dropdown show" id="addDropdown">
      <a class="btn btn-secondary" href="#" role="button" id="addDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <p class="display-3">Add &nbsp; <i class="fas fa-caret-down"></i></p>
      </a>
  
      <div class="dropdown-menu" aria-labelledby="addDropdownLink">
        <a class="dropdown-item" href="#">Add Action 1</a>
        <a class="dropdown-item" href="#">Add Action 2</a>
        <a class="dropdown-item" href="#">Add Action 3</a>
      </div>
    </div> -->

  <!-- <ul class="list-group list-group-flush fs-4">
        <li class="list-group-item py-3">
            <a
              href="{% url 'view_employees' %}"
              class="link-dark text-decoration-none link-opacity-50-hover"
              >View Employee</a
            >
          </li>
          <li class="list-group-item py-3">
            <a
              href="{% url 'view_departments' %}"
              class="link-dark text-decoration-none link-opacity-50-hover"
              >View Departments</a
            >
          </li>
          <li class="list-group-item py-3">
            <a
              href="{% url 'view_roles' %}"
              class="link-dark text-decoration-none link-opacity-50-hover"
              >View Roles</a
            >
          </li>
          <li class="list-group-item py-3">
            <a
              href="{% url 'view_budgets' %}"
              class="link-dark text-decoration-none link-opacity-50-hover"
              >View Budgets</a
            >
          </li>
    </ul> -->
</div>
{% else %}
<div class="col-md-6 offset-md-3">
  <h1 class="text-center">Login</h1>
  <br />

  <form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Username"
        autofocus
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="btn btn-outline-light float-end">Login</button>
  </form>
</div>
{% endif %} {% endblock %}
