<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Employee Management</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <div id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-eye"></i> &nbsp;  View
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">     
                <li>
                  <a class="dropdown-item" href="{% url 'view_departments' %}">View Departments</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'view_roles' %}">View Roles</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'view_employees' %}">View Employees</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'view_budgets' %}">View Budgets</a>
                </li>
                </ul>
              </li>
            </ul>
          </div>
          <div id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Add &nbsp; <i class="fa-solid fa-plus"></i> 
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">     
                <li>
                  <a class="dropdown-item" href="{% url 'add_department' %}">Add Department</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'add_role' %}">Add Role</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'add_employee' %}">Add Employee</a>
                </li>
                </ul>
              </li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  

  <!-- <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Add Department</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Add Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Add Role</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Delete Department</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Delete Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Delete Role</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">View Budget</a>
  </li> -->

<!-- 
  <li class="nav-item dropdown dropdown-menu-dark">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      View
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="{% url 'home' %}">View Departments</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'home' %}">View Roles</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'home' %}">View Employees</a>
      </li>
    </ul>
  </li> -->