{% extends 'base.html' %} {% block content %}
<h1 class="text-center">View Employees</h1>
<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col">Department</th>
            <th scope="col">Manager</th>
        </tr>
    </thead>
    <tbody>
        {% if employees %}
        {% for employee in employees %}
      <tr>
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.employee_role}}</td>
        <td>{{employee.employee_department}}</td>
        {% if employee.manager %}
        <td>{{employee.manager}}</td>
        {% else %}
        <td>Manager of Department</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% endblock %}