<div class="container">
    <div class="row">
        <div class="col">
            {% if current.has_previous %}
            <a href="?page={{ current.previous_page_number }}" class="btn btn-dark"><i
                    class="fa-solid fa-arrow-left"></i>&nbsp; Previous</a>
            {% endif %}
        </div>
        <div class="d-grid gap-2 col-2 mx-auto">
            <a href="{{ add_url }}" class="btn btn-dark">Add</a>
        </div>
        <div class="col text-end">
            {% if current.has_next %}
            <a href="?page={{ current.next_page_number }}" class="btn btn-dark">Next &nbsp;<i
                    class="fa-solid fa-arrow-right"></i></a>
            {% endif %}
        </div>
    </div>
</div>